/* ===========================
   NAVBAR APPEAR ON SCROLL
=========================== */

.navbar-transition{
  transition:
    opacity .45s ease,
    transform .45s ease,
    visibility .45s ease;
}

.navbar-hidden{

  opacity:0;

  visibility:hidden;

  pointer-events:none;

  transform:translateY(-25px);

}

.navbar-visible{

  opacity:1;

  visibility:visible;

  pointer-events:auto;

  transform:translateY(0);

}